<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enki Store me gjojna plot</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/CSS/index.css">
    <script type="text/javascript" src="static/JS/index.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar bg-secondary">
        <a class="navbar-brand" href="#">
            <img src="static/assets/images/makeup-svgrepo-com.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Dyqani Enkitttt edhe i ❄️-s!!
        </a>
    </nav>
    <section>
        <div class="jumbotron">
            <img src="static/assets/images/jumbatron.webp" />
            <div class="jumbotron-content">
                <h1 class="display-4">Urdhroni zonjaaaa!!!</h1>
                <p class="lead">Buzkuqe rimela penela kremra kemi ktuuuuu!!!!
                </p>
                <hr class="my-4">
                <p>T'mira e t'liraaa graaa!!!</p>
            </div>
          </div>
    </section>
    <section>
        <div class="cards-container">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="static/assets/images/moisturizer.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Kremra</h5>
                  <span class="btn btn-primary">Shfaq Produktet</span>
                </div>
              </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="static/assets/images/nail-polish.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Maniqyre</h5>
                  <span class="btn btn-primary">Shfaq Produktet</span>
                </div>
              </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="static/assets/images/powder.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Stuko</h5>
                  <span class="btn btn-primary">Shfaq Produktet</span>
                </div>
              </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="static/assets/images/lipstick-card.webp" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Buzkuqer</h5>
                  <span class="btn btn-primary">Shfaq Produktet</span>
                </div>
              </div>
        </div>
    </section>
    <section>
      <div class="products" data-hidden="">
        <h5>Error katerqinekater not found</h5>
      </div>
    </section>
    <div class="footer">
      <span>Copyright Prof. Dr. Enki Nako edhe ❄️-a</span>
    </div>
</body>
</html>